# Configuración Base de Datos (Docker)
DB_HOST=postgres-db
DB_PORT=5432
DB_USERNAME=usuario_ejemplo
DB_PASSWORD=contraseña_ejemplo
DB_NAME=discord_db_ejemplo

# Configuración JWT
JWT_SECRET=escribe_aqui_tu_secreto_jwt